.fa {
  padding-right: 10px;
}

.navbar {
  background-color: #f2f2f2;
  width: 700px;
  height: 53px;
  cursor: pointer;
}

.logo {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 50px;
  color: #7a7a7a;
  float: left;
  margin-left: 20px;
}

.analytics .topButton {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  color: #7a7a7a;
  float: left;
  margin-left: 50px;
  border-bottom: 3px solid transparent;
}

.analytics:hover .topButton {
  border-bottom: 3px solid #848484;
}

.analyticsDropDown {
  position: absolute;
  top: 61px;
  left: 228px;
  display: none;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

.analyticsDropDown .moduleGroup {
  width: 175px;
  list-style-type: none;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  border-bottom: 1px solid #f2f2f2;
  border-top: 0px solid transparent;
  border-left: 5px solid transparent;
  padding: 10px;
  max-height: 32px;
}

.modulesSet {
  position: relative;
  top: -43px;
  left: 185px;
  border: 1px solid #f2f2f2;
  display: none;
}

.singleModule {
  width: 200px;
  list-style-type: none;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  border-bottom: 1px solid #f2f2f2;
  border-left: 5px solid transparent;
  padding: 10px;
  max-height: 32px;
}

.visible {
  display: block;
}